/*
    Webster's Corner
    Website ER #2
*/

body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #f4f4f4;
    margin: 20px;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #6b3e26;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
    color #3f5f46;
}

.tag-line {
    font-style: italic;
    font-size: 1.1em;
}

nav {
    background-color: #eeeeee;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

nav a {
    color: #355c7d;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
}

nav a hover {
    color: #9c3d54;
    text-decoration: underline;
}

section {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 18;
}

#favorites ul {
    list-style-type: square;
}

#rules ol {
    list-style-type: upper-roman;
}

footer {
    text-align: middle;
    margin-top: 20px;
    font-size: 0.9em;
}
